extends layout

block content

  #map-canvas
    
  #directionsPanel

    input(type="text", id="origin", placeholder="Origin", value="san francisco")
    input(type="text", id="dest", placeholder="Destination", value="los angeles")
    input(type="text", id="waypoint", placeholder="Waypoint", value="madonna inn")
    button#submit Submit