extends layout

block content

  #map-canvas

  #directionsPanel

    p Enter any origin and destination (eg. 'San Francisco') and hit Plot Route. Drag to reposition the route and click Show Cool Places to display points of interest on that route.
        
    p 
        small Note: If you search for a route that's too long, it might be a problem.

    div
        label From
        input(type="text", id="origin", placeholder="Origin", value="san francisco")
    div
        label To
        input(type="text", id="dest", placeholder="Destination", value="")
    div 
        label Stopover
        input(type="text", id="waypoint", placeholder="Waypoint (optional)", value="")
    
    div
        button#submit Plot Route
        button#search Show the Cool Places

    table#venues