html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12px;
}

a {
  color: #00B7FF;
}

#map-canvas {
  float:left;
  width:70%;
  height:100%;
}

#directionsPanel {
	float:right;
	width:29%;
  padding: 0.5%;
	height: 100%;
  overflow: scroll;
}

label {
  width: 80px;
  display: inline-block;
}

button {
  margin-right: 10px !important;
}